<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/stylesheets/newstory.css">
    <title>You can be Edgar Allen Poe</title>
</head>
<body>
    <h1>Create your masterpiece</h1>
    <form method="post">
        @helper.CSRF.formField

        <input type="text" name="place1" id="place1"  required pattern=".{1,20}" title="1 to 20 characters">
        <label for="place1">Place</label><br>

        <input type="radio" name="place2" id="place2-1"><label for="place2-1">Zoo</label>
        <input type="radio" name="place2" id="place2-2"><label for="place2-2">Mall</label>
        <input type="radio" name="place2" id="place2-3"><label for="place2-3">Car Wash</label>
        <label>Another Place</label>

        <br>

        <input type="submit" value="Create Story">
    </form>
</body>
</html>